// @import '~antd2/dist/antd.css';
.signup-page{
    overflow: auto;
    height: 600px;
    .dispo {
        margin-top: 30px;
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .day{
            width: 100%;
            border: 1px black solid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 4px;
            .horaire{
                display: flex;
                flex-direction: column;
            }
            .tag{
                
                margin-left:30px ;
                font-weight: bold;
                width: 80px;
                
            }
        }
        Button{
            margin-top: 5px;
            width: 100%;
            height: 32px !important;
        }
    }
}