

.bar-container
{

    max-width: 660px;
    background-color: #4EADFF;
    display: flex;
    padding: 3px;
    justify-content: space-between;
    
}

.bar-container h5
{
    margin: 0 30px;
    font-size: 16px;
    color: white;
    font-weight: 450;
}

.bar-container .edit
{
    display: flex;
    flex-direction: column;
}

.fa-user-edit{ font-size: 24px;}
.fa-user-edit:hover
{
    background-color: white;

    border-radius: 15px 15px 15px 10px;

    color:#4EADFF;
}