

.background
{
    background-color: white;
    
    padding: 4px;
    padding-left: 4px;
    color: gray;

    border-radius: 15px;
    border-radius: 3%;
    
    margin-bottom: 10px;
   
    
}

.flexContainer3
{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */

    flex-wrap: wrap;
    width: 95%;
    flex-direction: row;
}

.MuiInputBase-input
{
    color: #7C7C7C !important;
    font-family: Muli;
    font-style: normal;
}

.bttn{ height: 41px; }

.input-location 
{
    background-color: white;
    
    padding: 4px;
    padding-left: 4px;
    color: gray;

    border-radius: 15px;
    border-radius: 3%;
    
    margin-bottom: 10px;
   
}

.input-location .ant-input{
    border : 0px !important
}