
.flexContainer3
{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width: 95%;
    flex-direction: row;
}

.MuiInputBase-input
{
    color: #7C7C7C !important;
    font-family: Muli;
    font-style: normal;
   
}

.bttn{ height: 41px; }

.input-location 
{
    background-color: white;
    
    padding: 10px 0px;
    padding-left: 4px;
    color: gray;

    border-radius: 15px;
    border-radius: 3%;
    margin-bottom: 10px;

    height: 50px;
    width: 380px;
   
}


.dateTime-selector .ant-calendar-picker-input
{
    height: 50px;
    width: 280px;
}

.dateTime-selector .ant-input-lg
{
    font-size: 16px !important;
    font-family: 'Mulish';
}

.input-location .ant-input{ border : 0px !important }