.signup-form {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
  .inline{
    display: flex;
    align-items: center;
  }
  .submit-button {
    width: 100%;
    display: block;
  }
}
