

nav 
{
   width: 60% !important;
   background-color: transparent;
  
}

.box
{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: black 1px solid;
}

.btn-primary
{
    background-color: #4eadff !important;
    border-color: #4eadff !important;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link
{
    color: black;
}


.nav-item
{
    margin-right: 13px;
}