

.profile-page{ background-color: #F6F9FC;}

.profile-infos
{
   background-color: white;
   max-width: 660px;
   /* height: 565px; */
 
}


.profile_overview
{
    padding: 54px 20px;
    /* display: flex;
    flex-direction: column; */
}

.upper-infos 
{

    display: flex;
}

.skill_type
{
    text-transform: uppercase;
    background-color: #F7F7F7;
    padding: 2px 8px;
    font-weight: 450;
    color: #47495A;
    text-align: center;
}

.expert_name 
{
    color: #47495A;
    font-size: 20px;
    line-height: 23px;
    height: 24px;
}

.address
{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #47495A;
}


.expert_address
{

    font-size: 15px;
    line-height: 18px;

    color: #47495A;
}

.upper-infos img
{
    /* width: 219px;
    height: 184px;
    margin-right: 16px; */

    max-height: 192px;
    width: 43%;
    object-fit: contain;
    margin-right: 16px;
    
}

#update_profile
{
    display: flex;
    justify-content: center;
}

.expert_career
{
    font-size: 20px;
    line-height: 23px;
    color: #47495A;
    display: inline;

}

.upper-infos
{
 flex: 1;   
}

.lower-infos
{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* min-height: 400px; */
   
}

.biography
{
    height: 100px;
    margin: 5px;
    flex-grow: 1;
}


.certifs
{
    height: 100px;
    margin: 5px;
    flex-grow: 1;
}

.inner_career p
{
    font-size: 15px;
    line-height: 24px;

    color: #47495A;

    padding-left: 45px;
    padding-top: 10px;
}

.lower-infos .icon
{
    width: 30px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.certifications{ margin-top: 50px;}


.editPanel-enter
{
    opacity: 0;
    transform: scale(0.9);
}


.editPanel-enter-active 
{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;

}


.editPanel-exit
{
    opacity: 1;

}

.editPanel-exit-active
{
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
