

.appointmentCard
{
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 15px;
   
    margin: .8% 1%;
 
}

.appointment-infos
{
    background-color: white;
    padding: 0px 50px ;
}
.appointmentCard .controls
{
    display: flex;
    justify-content: space-around;
   
}

.main_infos
{
    margin-top: 20px;
    padding : 10px 30px;
}

.appointment-infos span
{
    font-weight: bold;
}