.signin-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  .submit-button {
    margin: 0;
    display: block;
    align-self: flex-start;
    background-color: #2C3E50;
    border-color: #2C3E50;
  }
  .submit-button:hover{
    background-color: #B8BEC4;
    border-color: #B8BEC4;
    color:#2C3E50;
    border: 1px #2C3E50 solid;

  }
}
