.Mecanique{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .leftside{
        width: 30%;
        border:1px black solid;
        display: flex;
        flex-direction: column;

    }
    .infoClientForm{
        width: 100%;
        .item_with_label{
            display: flex;
            justify-content: space-between !important;
            .ant-input-group-compact{
                width: 40px !important;
            }
            .item{
                .item1{
                    display: flex;
                    justify-content: space-between;
                    .rightSide{
                        .textAria{
                            width:332px;
                        }
                    }
                }
            }
        }
        .item_with_label:before, .item_with_label:after  {
            content: none;
          }
    }
    .submit-button{
        display: none;
    }
    
}

