.profile h3
{
    color:#6B7C93;
    background-color: #F6F9FC;
    width: 126px;
    height: 17px;
    font-size: 14px;
    line-height: 16px;
}

.profile
{

    padding-left: 219px;

    height: 620px;

    margin-top: 64px;
    display: flex;

    height: 100%;

}

.overview
{
    padding-top: 20px;
    max-width: 640px;
  
}

.overview h3
{
    margin-bottom: 64px;
}
