.filter{
    // width: 376px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p{
        font-family: HelveticaNeue;
        margin-left: 30px;
        margin-bottom: 24px;
        font-size: 43px;
        color:#47495A;
    }
    .mb-18{
        margin-bottom: 18px;
    }
    .upper-case{
        text-transform: uppercase;
    }
    .select,h4,h6{
        margin-left: 30px;
    }
}