

.autoComplete .ant-select-auto-complete.ant-select .ant-select-selection--single 
{
    height: 50px !important;
}

.autoComplete .ant-select-auto-complete.ant-select .ant-input
{
    height: 50px !important;

}

.autoComplete .ant-select-selection__placeholder
{
      font-size: 16px;
      font-family: "Mulish";
}



