
.reservation{ padding-left: 25px; }

.reservation_header
{
    background-color: #4EADFF;
    padding: 10px 20px;
    width: 25vw;
}

.reservation_content
{
    background-color: white;
    padding: 20px;
    width: 25vw;
}

.reservation_content h5
{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #47495A;
    margin: 7px auto;
}

.reservation_header h2
{
    color: white;
    font-size: 24px;
  
    text-transform: uppercase;
    font-weight: normal;
}

.reservation_header p
{
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    height: 18px;
    color: white;
}


.reservation .btn
{
    border-radius: 50px;
    width: 100% !important;
    border: 2px solid #15959A;
}

.reservation_content .ant-form-item {margin: 0px;}

.reservation_content .ant-input-number-lg input {
    height: -webkit-fill-available !important;
}

.reservation .ant-input{ height: 40px !important;}

.reservation_content .time-input{ display: flex; width: 100%;}

.reservation .ant-calendar-picker-input { width: 22.26vw !important;}

.reservation .checkbox-group{ margin: 14px 7px auto;}

.reservation .checkbox{ margin-bottom: 10px !important;}

.reservation .ant-checkbox+span
{
    font-size: 15px;
    line-height: 20px;
    color: #47495A;
}


.ant-notification-notice 
{
    /* background-color: #89C8FF !important; */
    background-color: #CCE7AA !important;
    
}

@media all and (max-width:1130px)
{
    .reservation .ant-calendar-picker-input 
    {
         width: 100% !important;
    }
}