

.intro-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    margin-top: -94px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.831075) 2.9%, rgba(255, 255, 255, 0.0001) 67.26%)
    ,url("../../../images/intro.png");
  
    padding-top: 171px;
   
    height: 800px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;


}


.intro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
 
    width: 80%;
    margin-top: 17px;
   
}


.intro h1
{  
    
    font-size: 54px;
    font-weight: 655;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.intro p
{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 568px;
    height: 66px;
    color: #FFFFFF;
}

.paragraph{ padding-left: 100px;}

.introText{ margin-bottom: 80px;}



@media all and (max-width:920px)
{
    .intro-container
    {
        margin-top: -150px;
     
    }
}